.nav-list {
    display: flex;
    list-style: none;
    font-size: 1em;
    padding-left: 0;
    &__item {
        padding: 0 24px;
        /*&:hover .nav-list__link {
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        }*/
    }
    &__link {
        text-decoration: none;
        color: rgb(33, 33, 33);
        color: var(--bl);
        letter-spacing: 0.8px;
        line-height: 30px;
        transition: all 0.3s ease;
        &:hover {
            color: var(--red);
            border-bottom: 1px solid var(--red);
            transition: all 0.3s ease;
        }
    }
}

@media screen and (max-width: 600px) {
    .nav-list {
        &_mobile {
            flex-direction: column;
            width: 320px;
            padding-top: 30px;
            margin-bottom: 0;
            padding-left: 30px;
            clear: both;
            
        }
        &__item_mobile {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        &__link_mobile {
            color: #fff;
            font-size: 1.5em;
        }
    }
    
    

}