.header {
    &__container {
        max-width: 1260px;
        min-width: 280px;
        margin: 15px auto 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        color: var(--red);
        text-decoration: none;
        font-size: 2em;
        font-weight: 700;
        transition: all 0.3s ease;
        &:hover {
            color: gray;
            transition: all 0.3s ease;
        }
    }
}
@media screen and (max-width: 1265px) {
        
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }
    
}

@media screen and (max-width: 600px) {
    .nav {
        position: fixed;
        top: 0;
        bottom: 0;
        right: -1500px;
        transition: right .5s ease;
        background: #323232;
        z-index: 1;
    }
    .nav_open {
        right: 0;
        transition: right .5s ease;
    }
}