.footer {
    flex-shrink: 0;
    &__container {
        max-width: 1260px;
        min-width: 280px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1265px) {        
    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }   
}